/* ---------- General on all sites ---------------- */

body{
    background-color: #FAF0E6;
    font-family: "Roboto";
    min-width: 360px;
    color: white;
}

.container{
    display: inline-flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

.bubble-container {
    display: inline-flex;
    align-items: start;
    flex-direction: row;
    background-color: #352F44;
    border-radius: 10px;
}

.bubbles {
    display: inline-flex;
    flex-direction: column;
    margin: 25px;
    max-width: 415px;
}
.bubbles h1{

    margin: 0;
    margin-bottom: 25px;
}

.bubbles p {
    font-size: 1.3rem;
}

.text-highlight {
    color: white;
}
 .text-highlight:hover {
    color: #5C5470;

}

.bubbles img {
    width: 415px;
    border-radius: 5px;
}
/* --------------------------------------------------- */

.sign-up-container {
    display: flex;
    justify-content: center;
}

.sign-up {
    text-align: center;
    list-style: none;
}

.sign-up-button {
    background-color: #5C5470;
    margin-top: 25px;
    border-radius: 25px;
    font-size: 2rem;

}

.sign-up-button:hover{
    color: #352F44;
}

/* -------------------------- Sidornas Header -------------------------- */

.head-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #352F44;
    border-radius: 5px;
}

.button {
    text-decoration: none;
    font-size: 25px;
    border: solid #5C5470 5px;
    border-radius: 5px;
    color: white;
    background-color: #5C5470;
}
.button-container {
    display: flex;
    margin-left: 10px;
    gap: 10px;
    list-style: none;
}
.button > li {
    margin: 10px
}

.button:hover {
    color: #352F44;
}

/* ----------------------------------------------------------------------- */

.name-contianer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.name {
    margin: 10px;
    background-color: #5C5470;
    border: solid #5C5470 10px;
    border-radius: 5px;
    font-size: 1em;
}

.name > li {
    list-style: none;
}

/* --------------------------------------------------- */

@media (min-width: 360px) and (max-width: 414px) {
    
    .head-container {
        justify-content: center;
        }

    

    .bubble-container img {
        width: 290px;
    }

    .button {
        font-size: 1.2em;
    }

}


@media (max-width: 1010px){
    .bubble-container {
        flex-direction: column;
        align-items: start;
    }
    .bubbles{
        max-width: 475px;
    }
}


@media (max-width: 1618px) {
    .container {
        flex-wrap: wrap;
    }
}

/* -------------------------- Footer -------------------------- */

.footer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #352F44;
    color: white;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    margin-top: 25px;
}
